# Rat Rig V-core 3 Klipper Config
# Documentation: https://os.ratrig.com

# The first thing you'll need to do is go through this file and comment out / uncomment 
# the files and/or settings you need.
# You'll be able to print just fine with this config as it is, but it is recommended
# that you follow these steps to properly calibrate your printer:
# 0) Sanity check and PID Tuning: https://www.klipper3d.org/Config_checks.html
# 1) Pressure Advance: https://www.klipper3d.org/Pressure_Advance.html
# 2) Skew Correction: https://www.klipper3d.org/Skew_Correction.html
# 3) Resonance Compensation: https://www.klipper3d.org/Resonance_Compensation.html

# Read more about klipper here: https://www.klipper3d.org/Overview.html

#############################################################################################################
### CONTROL BOARD
### Pick the board you have installed and wired in your printer.
#############################################################################################################
#[include config/boards/btt-skr-pro-12/config.cfg]
#[include config/boards/btt-octopus-11/config.cfg]
[include config/boards/btt-octopus-pro-446/config.cfg]
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_300047000B51373330333137-if00
#[include config/boards/btt-octopus-pro-429/config.cfg]
#[include config/boards/fysetc-spider/config.cfg]
#[include config/boards/mellow-fly-sht-42/toolboard-config.cfg]
#############################################################################################################


#############################################################################################################
### BASE SETUP
#############################################################################################################
[include config/printers/v-core-3/v-core-3.cfg]

#############################################################################################################
### STEPPER MOTORS, DRIVERS & SPEED LIMITS
### Pick the drivers and stepper motors you're using. See the RatOS documentation for custom combinations.
#############################################################################################################
[include config/printers/v-core-3/steppers.cfg]

# UNCOOLED TMC 2209 + LDO-42STH48-2504AC
#[include config/printers/v-core-3/speed-limits-basic.cfg]
#[include config/printers/v-core-3/tmc2209.cfg]
#[include config/steppers/ldo/42sth48-2504ac/2209/24v-1.1a-*.cfg]
[include config/steppers/ldo/42sth48-2504ac/5160/50v-1.768a-*.cfg]

# COOLED TMC 2209 + LDO-42STH48-2504AC 
# This increases motor torque, positional accuracy and speed limits. 
# don't enable this before your printer is fully configured and you have a fan blowing on your stepper drivers.
#[include config/printers/v-core-3/speed-limits-performance.cfg]
#[include config/printers/v-core-3/tmc2209-performance.cfg]
[tmc5160 stepper_x]
cs_pin: x_uart_pin
spi_software_mosi_pin: stepper_spi_mosi_pin
spi_software_miso_pin: stepper_spi_miso_pin
spi_software_sclk_pin: stepper_spi_sclk_pin
run_current: 2.0
driver_TBL: 1
driver_TOFF: 4
driver_HEND: 3
driver_HSTRT: 6

[tmc5160 stepper_y]
cs_pin: y_uart_pin
spi_software_mosi_pin: stepper_spi_mosi_pin
spi_software_miso_pin: stepper_spi_miso_pin
spi_software_sclk_pin: stepper_spi_sclk_pin
run_current: 2.0
driver_TBL: 1
driver_TOFF: 4
driver_HEND: 3
driver_HSTRT: 6

[include config/steppers/ldo/42sth48-2504ac/5160/24v-1.6a-z*.cfg]

# STEALTH MODE (Enables stealthchop and limits velocity and acceleration)
# NOTE: You still need to include one of the above stepper motor definitions.
# NOTE: This will make your printer quiter but less accurate, it's an inherent side effect of stealthchop.
#[include config/printers/v-core-3/speed-limits-stealth.cfg]
#[include config/printers/v-core-3/tmc2209-stealth.cfg]

#############################################################################################################
### HOMING
### Pick your probe and endstops
#############################################################################################################
# BL Touch
[include config/z-probe/bltouch.cfg]
# Inductive/Capacitive probe
#[include config/z-probe/probe.cfg]

# Physical endstops
#[include config/printers/v-core-3/physical-endstops.cfg]
# Sensorless homing (Beware: this requires manual tinkering and does not work if your x/y stepper drivers
# have clipped DIAG pins). It is strongly encouraged to use physical endstops if you're a beginner.
# If you still wish to proceed, copy config/templates/sensorless-homing-tmc2209.cfg to the root directory and 
# remove the # from the line below.
#[include sensorless-homing-tmc2209.cfg]


#############################################################################################################
### PHYSICAL DIMENSIONS
### Pick your printer size
#############################################################################################################
# Remove the # from your printer size below. 
# Similarly add a # in front of [include config/printers/v-core-3/300.cfg] if you have a bigger machine.
#[include config/printers/v-core-3/300.cfg]
#[include config/printers/v-core-3/400.cfg]
#[include config/printers/v-core-3/500.cfg]
[stepper_x]
position_max: 340

[stepper_y]
position_max: 315

[stepper_z]
position_max: 390

[bed_mesh]
speed: 400
horizontal_move_z: 8
mesh_min: 20,20
mesh_max:300,300
probe_count: 7,7
fade_start: 1.0
fade_end: 10.0
mesh_pps: 2,2
algorithm: bicubic
bicubic_tension: .2

[z_tilt]
speed: 400
z_positions:
	0,0
	165,315
	330,0

points:
	52,22
	187,315
	330,22
		
horizontal_move_z: 8
retries: 10
retry_tolerance: 0.02


#############################################################################################################
### INPUT SHAPER
### Enable/disable input shaper calibration
#############################################################################################################
# Uncomment this next line if you have an ADXL345 connected to your control board
#[include config/printers/v-core-3/input-shaper.cfg] 


#############################################################################################################
### TOOLHEAD
### Pick your extruder and hotend
#############################################################################################################
# Extruder
#[include config/extruders/bmg.cfg]
#[include config/extruders/lgx.cfg]
#[include config/extruders/lgx-lite.cfg]
#[include config/extruders/orbiter.cfg]
[include config/extruders/orbiter-1004.cfg] # Use this with the LDO-36STH20-1004AHG motor
#[include config/extruders/hemera.cfg]
#[include config/extruders/titan.cfg]

# Hotend
#[include config/hotends/v6.cfg]
#[include config/hotends/dragonfly.cfg]
#[include config/hotends/rapido.cfg]
#[include config/hotends/revo.cfg]
#[include config/hotends/copperhead.cfg]
#[include config/hotends/mosquito.cfg]
#[include config/hotends/mosquito-magnum.cfg]
#[include config/hotends/dragon-standard-flow.cfg]
#[include config/hotends/dragon-high-flow.cfg]


#############################################################################################################
### MACROS
#############################################################################################################
[include config/macros.cfg]
[include config/shell-macros.cfg]
[include config/printers/v-core-3/macros.cfg]


#############################################################################################################
### MACRO CONFIGURATION
### Configure the behavior of RatOS macros
#############################################################################################################
[gcode_macro RatOS]
# Use absolute extrusion mode
# Set to True to use relative extrusion mode
variable_relative_extrusion: False
# Wait for extruder to reach 150 so an inductive probe (if present) is at a predictable temp. 
# Also allows the bed heat to spread a little, and softens any plastic that might be stuck to the nozzle.
# Set to False to disable
variable_preheat_extruder: True
# Calibrate the bed mesh in the START_PRINT macro.
# Set to false to skip BED_MESH_CALIBRATE, it will still load the BED_MESH 
# with the name "ratos", be sure to save your bed_mesh profile with that name.
# or override the _START_PRINT_BED_MESH macro to implement your own mesh handling logic.
variable_calibrate_bed_mesh: True
# Print a prime line at the end of the START_PRINT macro
# set to False to disable nozzle_priming.
variable_nozzle_priming: "primeline"
# Park in the back when waiting for the extruder to heat up
# set to "front" to park in the front, or "center" to park in the center.
variable_start_print_park_in: "back"
# Height to park it when waiting for extruder to heat.
variable_start_print_park_z_height: 50
# Skew profile to load before starting the print 
# uncomment this to use your calibrated skew correction profile.
#variable_skew_profile: "my_skew_profile"
# Park in the back after the print has ended or was cancelled.
# set to "front" to park in the front, or "center" to park in the center.
variable_end_print_park_in: "back"
# Park in the back when the print is paused.
# set to "front" to park in the front, or "center" to park in the center.
variable_pause_print_park_in: "back"
# Set the speed for travel moves in RatOS Macros in mm/s.
variable_macro_travel_speed: 300


#############################################################################################################
### PRINTER CONFIGURATION
### Customize the defaults to your specific build
#############################################################################################################
[controller_fan stepper_fan_1]
pin: PD13
idle_speed: 0
stepper: stepper_z

[printer]
# Debug
# max_velocity: 200
# max_accel: 750
# max_accel_to_decel: 300
# max_z_velocity: 15
# max_z_accel: 30
# square_corner_velocity: 2
# Basic
max_velocity: 200
max_accel: 1500
max_accel_to_decel: 750
max_z_velocity: 15
max_z_accel: 30
square_corner_velocity: 5
# Performance
# max_velocity: 1000
# max_accel: 15000
# max_accel_to_decel: 7500
# max_z_velocity: 20
# max_z_accel: 150
# square_corner_velocity: 5

[stepper_x]
dir_pin: !x_dir_pin # Add ! in front of pin name to reverse X stepper direction
rotation_distance: 40 # 40 for 20 tooth 2GT pulleys, 32 for 16 tooth 2GT pulleys
position_endstop: 0 # Adjust this to your setup
position_min: 0
endstop_pin: x_endstop_pin

[stepper_y]
dir_pin: y_dir_pin # Add ! in front of pin name to reverse Y stepper direction
rotation_distance: 40 # 40 for 20 tooth 2GT pulleys, 32 for 16 tooth 2GT pulleys
position_endstop: 315
endstop_pin: !y_endstop_pin
homing_positive_dir: true
#position_endstop: 400 # 400mm printer
#position_endstop: 500 # 500mm printer

[stepper_z]
dir_pin: !z0_dir_pin # Add ! in front of pin name to reverse Z stepper direction
rotation_distance: 4 # 4 for TR8*4 lead screws
homing_retract_dist: 20

[stepper_z1]
dir_pin: !z1_dir_pin # Add ! in front of pin name to reverse Z1 direction
rotation_distance: 4 # 4 for TR8*4 lead screws

[stepper_z2]
dir_pin: !z2_dir_pin # Add ! in front of pin name to reverse Z2 direction
rotation_distance: 4 # 4 for TR8*4 lead screws

# Safe Z Home (Physical endstops only)
[safe_z_home]
home_xy_position: 165,165 # 300mm printer
speed: 300
z_hop: 20 # Move up 10mm
z_hop_speed: 35
#home_xy_position: 200,200 # 400mm printer
#home_xy_position: 250,250 # 500mm printer


#############################################################################################################
### USER OVERRIDES
### Anything custom you want to add, or RatOS configuration you want to override, do it here.
#############################################################################################################

# Toolboard setup
#[include sht42.cfg]
[include ebb36.cfg]
#[include config/toolboard/toolboard.cfg]
[extruder]
step_pin: EBBCan: PA9
dir_pin: EBBCan: PA8
enable_pin: !EBBCan: PA10
rotation_distance: 4.63
full_steps_per_rotation: 200
filament_diameter: 1.750
max_extrude_only_velocity: 60
heater_pin: EBBCan: PB1
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: EBBCan: PA0
nozzle_diameter: 0.4
min_extrude_temp: 170
min_temp: -100
max_temp: 285
pressure_advance: 0.03
#control = pid
#pid_kp = 40.334
#pid_ki = 0.158
#pid_kd = 2581.858

[firmware_retraction]
retract_length: 0.5

# Bltouch
#[include config/toolboard/bltouch.cfg]
[bltouch]
sensor_pin: ^EBBCan:PA5
control_pin: EBBCan:PA4
speed: 7
pin_move_time: 0.675
pin_up_reports_not_triggered: True
pin_up_touch_mode_reports_triggered: True
x_offset: -28
y_offset: -13
#z_offset = 1.650
stow_on_each_sample: False

[heater_bed]
#control = pid
#pid_kp = 40.334
#pid_ki = 0.158
#pid_kd = 2581.858

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 20.732
#*# pid_ki = 1.868
#*# pid_kd = 57.531
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 43.963
#*# pid_ki = 0.232
#*# pid_kd = 2083.856
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.004387, 0.034988, 0.032800, 0.064988, 0.061550, 0.029363, -0.039387
#*# 	0.045613, 0.069050, 0.067175, 0.096863, 0.131550, 0.126238, 0.091550
#*# 	0.037800, 0.066238, 0.092175, 0.264675, 0.153113, 0.157175, 0.143113
#*# 	0.003113, 0.032800, 0.043425, 0.099050, 0.119363, 0.131550, 0.125925
#*# 	-0.035012, -0.015325, 0.019675, 0.100300, 0.103425, 0.101550, 0.096238
#*# 	-0.092200, -0.061575, -0.025012, 0.032488, 0.080613, 0.034988, 0.035300
#*# 	-0.126575, -0.098137, -0.056887, -0.002825, 0.018425, -0.038762, -0.035637
#*# tension = 0.2
#*# min_x = 20.0
#*# algo = bicubic
#*# y_count = 7
#*# mesh_y_pps = 2
#*# min_y = 20.0
#*# x_count = 7
#*# max_y = 299.96
#*# mesh_x_pps = 2
#*# max_x = 299.96
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 64.0
#*# shaper_type_y = mzv
#*# shaper_freq_y = 39.6
#*#
#*# [bed_mesh ratos]
#*# version = 1
#*# points =
#*# 	  -0.047500, 0.008750, -0.002813, 0.034062, 0.052187, 0.075312, 0.030937
#*# 	  -0.003750, 0.030625, 0.044687, 0.067500, 0.100000, 0.106250, 0.115937
#*# 	  -0.005000, 0.010625, 0.094375, 0.056250, 0.077500, 0.072500, 0.086875
#*# 	  -0.019375, -0.009375, 0.013437, 0.032812, 0.061250, 0.050000, 0.055937
#*# 	  -0.025000, -0.012500, -0.014063, 0.003750, 0.008437, -0.008438, -0.006250
#*# 	  -0.059375, -0.037813, -0.026875, -0.018125, -0.034375, -0.032188, -0.029063
#*# 	  -0.041250, -0.019688, -0.015313, -0.032500, -0.002188, -0.035625, -0.024063
#*# tension = 0.2
#*# min_x = 20.0
#*# algo = bicubic
#*# y_count = 7
#*# mesh_y_pps = 2
#*# min_y = 20.0
#*# x_count = 7
#*# max_y = 299.96
#*# mesh_x_pps = 2
#*# max_x = 299.96
#*#
#*# [bltouch]
#*# z_offset = 0.800
